<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
<%= @user.name %>
<%= @user.age %>
<%= @user.city %>
<%= @user.state %>
<%= @user.zip %>
</p>
<%= @user.created_at %><br/>
<%= @user.updated_at %><br/>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
